<%- include('header'); -%>

<div class="box" id="heading">
  <h1>About</h1>
</div>

<div class="box">
  <p>This is an about page. There should be lots of information here regarding the purpose of
  this website. I need more info to put down, I currently have none so this is just freeform writing.
  Wouldn't it be great if everyone just got along? Sometimes I imagine myself as the main character
  in a music video, and everything seems a little more exciting even if just for a little while.</p>

  <p> <%-startingContent %></p>
</div>

<%- include('footer'); -%>
